{% extends 'LojaBundle::layout.html.twig' %}
{% block title %}WebRadio - Erro 404{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span11" style="padding-left: 30px;">
            <div class="alert alert-error headers" style="margin-left: -10px; width: 1100px;">
                <h2 class="headers-title">#Erro 404</h2>
                <h5>Desculpe não encontramos o que você procurava. x.x</h5>
            </div>
        </div><!--/row-->
    </div>
</div>
{% endblock %}