{% extends 'LojaBundle::layout.html.twig' %}
{% block title %}WebRadio - Produtos{% endblock %}
{% block body %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well well-small">
        <ul class="nav nav-list">
          <li class="nav-header">Categoria</li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
        </ul>
      </div>
      <div class="well well-small">
        <ul class="nav nav-list">
          <li class="nav-header">Filtro 1</li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
        </ul>
      </div>
      <div class="well well-small">
        <ul class="nav nav-list">
          <li class="nav-header">Filtro 2</li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
          <li>
            <label class="checkbox">
              <input type="checkbox"><a>Link</a>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="span10">
      <h2>Highly customizable</h2>
      <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a> <span class="divider">/</span></li>
        <li class="active">Data</li>
      </ul>
      <ul class="thumbnails">
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
        <li>
          <div  class="thumbnail">
            <a href="#"><img class="img-rounded" src="http://dummyimage.com/180x130/c4c4c4/828282.png" alt="300x200"></a>
            <div class="caption">
              <h6>Thumbnail label</h6>
              <p>Thumbnail caption...</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}